<div class="container is-fluid is-widescreen is-fullhd">
    <div class="tabs is-centered">
        <ul>
            <li class="is-active">
            <a href="/dashboard/leads">
                <span class="icon is-small"><i class="fas fa-list-ul" aria-hidden="true"></i></span>
                <span>Leads</span>
            </a>
            </li>
            <li>
            <a href="/dashboard/map">
                <span class="icon is-small"><i class="fas fa-map-marked-alt" aria-hidden="true"></i></span>
                <span>Map</span>
            </a>
            </li>
            <li>
            <a href="/auth/logout">
                <span class="icon is-small"><i class="fas fa-sign-out-alt" aria-hidden="true"></i></span>
                <span>Logout</span>
            </a>
            </li>
        </ul>
    </div>
    {{#each leads}}
        <div class="box">
            <p>{{this.email}}</p>
        </div>
    {{/each}}
</div>