<header class="header">
  <img src="images/logo-svg.svg" alt="logo" class="logo">
  <div class="header__box">
    <h2 class="header__text--big">MUITOS NUTRIENTES,<br>POUCA CALORIA,<br>ALIMENTOS NATURAIS.</h2>
    <br>
    <p class="header__text">Refeições direto na sua casa<br>Cadastre-se e receba 15% de desconto</p>
    <br>
    <form action="/leads" method="post" class="header__form--center">
      <input class="input header__input--space" name="email"type="text" placeholder="email">
      <button class="button">Cadastre-se</button>
    </form>
  </div>
</header>

<section class="section__filo">
  <h1 class="section__title color__brown">FILOSOFIA</h1>  
  <div class="div_filo_total">
    <div class="div_filo_info">
      <img src="/images/CHEF.png" title="" alt="" class="icon_filo">
      <p class="text_filo">PRATOS ELABORADOS POR CHEFES</p>    
    </div>
    <div class="div_filo_info">
      <img src="/images/GOJI.png" alt="" class="icon_filo">
      <p class="text_filo">PRODUTOS ORGÂNICOS</p>
    </div>
    <div class="div_filo_info">
      <img src="/images/PEQUENOS_PRODUTORES.png" alt="" class="icon_filo">
      <p class="text_filo">INGREDIENTES DE PEQUENOS PRODUTORES</p>
    </div>
    <div class="div_filo_info">
      <img src="/images/BPA_FREE.png" alt="" class="icon_filo">
      <p class="text_filo">EMBALAGEM BPA FREE</p>
    </div>
    <div class="div_filo_info">
      <img src="/images/SEM_PRODUTOS_ARTIFICIAIS.png" alt="" class="icon_filo">
      <p class="text_filo">SEM PRODUTOS ARTIFICIAIS</p>
    </div>
</section>

<section class="beneficiosDesktop">
  <h1 class="section__title color__white">BENEFÍCIOS</h1>
  <div class="postit topleft">
    <h4 class="postit__title">Metabolismo</h4>
    <p class="postit__text">Superalimentos possuem função termogênica e desintoxicante.</p>
  </div>
  <div class="postit topright">
    <h4 class="postit__title">Força e Energia</h4>
    <p class="postit__text">Proporciona uma grande quantidade de nutrientes com reduzido teor calórico.</p>
  </div>
  <div class="postit bottomleft">
    <h4 class="postit__title">Sensação de Saciedade</h4>
    <p class="postit__text">São de fácil acréscimo na dieta de qualquer pessoa.<br>Promove uma maior sensação de saciedade.</p>
  </div>
  <div class="postit bottomright">
    <h4 class="postit__title">Prevenção de Doenças</h4>
    <p class="postit__text">Fortalecimento da imunidade.<br>Reduz o risco de doenças cardiovasculares e melhora a circulação sanguínea.</p>
  </div>
</section>

<section class="beneficiosMobile">
  <h1 class="section__title color__white">BENEFÍCIOS</h1>
  <img src="/images/responsiva-beneficios-prato.png" alt="plate" class="benefits_img_mob">
  
  <div class="swiper-container benefits_mobile-container">
    <div class="swiper-wrapper">    
      
      <div class="swiper-slide">
        
        <div class="postit topleft">
          <h4 class="postit__title">Metabolismo</h4>
          <p class="postit__text">Superalimentos possuem função termogênica e desintoxicante.</p>        
        </div>

      </div>
      
      <div class="swiper-slide">
        
        <div class="postit topright">
          <h4 class="postit__title">Força e Energia</h4>
          <p class="postit__text">Proporciona uma grande quantidade de nutrientes com reduzido teor calórico.</p>        
        </div>

      </div>

      <div class="swiper-slide">

        <div class="postit bottomleft">
          <h4 class="postit__title">Sensação de Saciedade</h4>
          <p class="postit__text">São de fácil acréscimo na dieta de qualquer pessoa.<br>Promove uma maior sensação de saciedade.</p>
        </div>

      </div>

      <div class="swiper-slide">

        <div class="postit bottomleft">
          <h4 class="postit__title">Sensação de Saciedade</h4>
          <p class="postit__text">São de fácil acréscimo na dieta de qualquer pessoa.<br>Promove uma maior sensação de saciedade.</p>
        </div>

      </div>

    </div>
  </div>
  <div class="benefits-mob-swiper-pagination"></div>
</section>

<section class="section_food_desk">
  <h1 class="section__title color__brown">PRATOS</h1>  
  <div class="swiper-container prices-container-desk">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="food_card">
        <img src="/images/CURRY_THAI_DE_LEGUMES_E_COGUMELOS.png" alt="" srcset="" class="foodImg">
        <h4 class="foodName">CURRY THAI DE LEGUMES E COGUMELOS</h4>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="food_card">
        <img src="/images/CREME_DE_ABÓBORA_E_CHIA_SOUR_CREAM_DE_COCO_E_LIMÃO.png" alt="" srcset="" class="foodImg">
        <h4 class="foodName">CREME DE ABÓBORA E CHIA COM SOUR CREAM DE COCO E LIMÃO</h4>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="food_card">
        <img src="/images/CUZCUZ_MARROQUINO_COM_CASTANHA.png" alt="" srcset="" class="foodImg">
        <h4 class="foodName">CUZCUZ MARROQUINO COM CASTANHAS</h4>
        </div>
      </div class="food_card">
      <div class="swiper-slide">
        <div class="food_card">
        <img src="/images/LENTILHA_DE_LEGUMES_E_COUVE_REFOGADA.png" alt="" srcset="" class="foodImg">
        <h4 class="foodName">LENTILHA DE LEGUMES E COUVE REFOGADA</h4>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="food_card">
        <img src="/images/COUVE_FLOR_ASSADA_COM_CÚRCUMA_E_MEDALHÃO_DE_FILÉ_MIGNON.png" alt="" srcset="" class="foodImg">
        <h4 class="foodName">COUVER FLOR ASSADA COM CÚRCUMA E MEDALHÃO DE FILÉ MIGNON</h4>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="food_card">
        <img src="/images/NHOQUE_DE_BATATAS_COM_SHITAKE_E_ESPINAFRE.png" alt="" srcset="" class="foodImg">
        <h4 class="foodName">NHOQUE DE BATATAS COM SHITAKE E ESPINAFRE</h4>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="food_card">
        <img src="/images/PAELLA_NEGRA_DE_COGUMELOS.png" alt="" srcset="" class="foodImg">
        <h4 class="foodName">PAELLA NEGRA DE COGUMELOS</h4>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="food_card">
        <img src="/images/QUINOA_CAPRESE_COM_ESCAROLA_REFOGADA.png" alt="" srcset="" class="foodImg">
        <h4 class="foodName">QUINOA CAPRESE COM ESCAROLA REFOGADA</h4>
        </div>
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
  </div>
</section>

<section class="section_food_mobile">
  <h1 class="section__title color__brown">PRATOS</h1>  
  <div class="swiper-container prices-container-mobile">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="food_card">
        <img src="/images/CURRY_THAI_DE_LEGUMES_E_COGUMELOS.png" alt="" srcset="" class="foodImg">
        <h4 class="foodName">CURRY THAI DE LEGUMES E COGUMELOS</h4>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="food_card">
        <img src="/images/CREME_DE_ABÓBORA_E_CHIA_SOUR_CREAM_DE_COCO_E_LIMÃO.png" alt="" srcset="" class="foodImg">
        <h4 class="foodName">CREME DE ABÓBORA E CHIA COM SOUR CREAM DE COCO E LIMÃO</h4>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="food_card">
        <img src="/images/CUZCUZ_MARROQUINO_COM_CASTANHA.png" alt="" srcset="" class="foodImg">
        <h4 class="foodName">CUZCUZ MARROQUINO COM CASTANHAS</h4>
        </div>
      </div class="food_card">
      <div class="swiper-slide">
        <div class="food_card">
        <img src="/images/LENTILHA_DE_LEGUMES_E_COUVE_REFOGADA.png" alt="" srcset="" class="foodImg">
        <h4 class="foodName">LENTILHA DE LEGUMES E COUVE REFOGADA</h4>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="food_card">
        <img src="/images/COUVE_FLOR_ASSADA_COM_CÚRCUMA_E_MEDALHÃO_DE_FILÉ_MIGNON.png" alt="" srcset="" class="foodImg">
        <h4 class="foodName">COUVER FLOR ASSADA COM CÚRCUMA E MEDALHÃO DE FILÉ MIGNON</h4>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="food_card">
        <img src="/images/NHOQUE_DE_BATATAS_COM_SHITAKE_E_ESPINAFRE.png" alt="" srcset="" class="foodImg">
        <h4 class="foodName">NHOQUE DE BATATAS COM SHITAKE E ESPINAFRE</h4>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="food_card">
        <img src="/images/PAELLA_NEGRA_DE_COGUMELOS.png" alt="" srcset="" class="foodImg">
        <h4 class="foodName">PAELLA NEGRA DE COGUMELOS</h4>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="food_card">
        <img src="/images/QUINOA_CAPRESE_COM_ESCAROLA_REFOGADA.png" alt="" srcset="" class="foodImg">
        <h4 class="foodName">QUINOA CAPRESE COM ESCAROLA REFOGADA</h4>
        </div>
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination-food-mob"></div>
  </div>
  </div>
</section>

<section class="fornecedores">
  <div class="fornecedores__box">
    <h2 class="fornecedores__text--big">FORNECEDORES</h2>
    <br>
    <p class="fornecedores__text">Nossos produtos vem de pequenos <br> fornecedores selecionados</p>
    <br>
    <button class="button fornecedores__button">Saiba mais</button>
  </div>
</section>

<section class="section_howWorks_desk">
  <h1 class="section__title color__brown">COMO FUNCIONA</h1>
  <div class="div_howWorks_total">
    <div class="div_howWorks_left">
      <img src="/images/ILUSTRAÇÃO01.jpg" class="img_howWorks"alt="choose meal">
      <div class="div_howWorks_text_left">
        <h3 class="howWorks_title">Embalagem especial</h3>
        <p class="howWorks_text">Nossa embalagem é livre de BPA e podem ir direto ao microondas sem risco de contaminação.</p>
      </div>
      <img src="/images/ILUSTRAÇÃO03.jpg" class="img_howWorks"alt="strenght & energy">
    </div>
    <div class="div_howWorks_right">
      <div class="div_howWorks_text_right">
        <h3 class="howWorks_title">Escolha suas refeições</h3>
        <p class="howWorks_text">Selecione entre itens individuais, kits e combos. Todas receitas elaboradas por chefes de cozinha.</p>
      </div>
      <img src="/images/ILUSTRAÇÃO02.jpg" class="img_howWorks"alt="special package">
      <div class="div_howWorks_text_right">
        <h3 class="howWorks_title">Força e Energia</h3>
        <p class="howWorks_text">Obtenha os nutrientes necessários para melhora do metabolismo e fortalecimento da imunidade</p>
      </div>
    </div>
  </div>
</section>

<section class="section_howWorks_mobile">
  <h1 class="section__title color__brown">COMO FUNCIONA</h1>
  <div class="swiper-container howWorks-container">
    <div class="swiper-wrapper">    
      <div class="swiper-slide">
        <div class="howWorks_card">
          <img src="/images/ILUSTRAÇÃO01.jpg" alt="" srcset="" >
          <h3 class="howWorks_title">Embalagem especial</h3>
          <p class="howWorks_text">Nossa embalagem é livre de BPA e podem ir direto ao microondas sem risco de contaminação.</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="howWorks_card">
          <img src="/images/ILUSTRAÇÃO02.jpg" alt="" srcset="" >
          <h3 class="howWorks_title">Escolha suas refeições</h3>
          <p class="howWorks_text">Selecione entre itens individuais, kits e combos. Todas receitas elaboradas por chefes de cozinha.</p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="howWorks_card">
          <img src="/images/ILUSTRAÇÃO03.jpg" alt="" srcset="" >
          <h3 class="howWorks_title">Força e Energia</h3>
          <p class="howWorks_text">Obtenha os nutrientes necessários para melhora do metabolismo e fortalecimento da imunidade</p>
        </div>
      </div>    
    </div>
  </div>
  <div class="howWorks-swiper-pagination"></div>
</section>




<section class="section__partners">
  <h1 class="section__title color__brown">LOJAS PARCEIRAS</h1>
  <div class="div_partners">
    <img src="/images/lojas.png" alt="Partners" class="img_partners">
    <div class="div_info_partners">
      <h4 class="text_partners">Além da nossa loja on-line, nossos produtos estarão disponíveis lojas parceiras. Recomende uma loja perto de você</h4>
      <form action="/adress" method="get">
        <input type="text" name="adress" class="input input_partners" placeholder="Endereço">
        <button type="submit" class="button">Enviar</button>
      </form>
    </div>
  </div>
</section>

<footer class="section__footer">
  <div class="info_footer">
    <h4 class="text_footer">Cadastre-se e ganhe 15% de desconto na primeira compra</h4>
    <form action="/leads" method="post">
      <input type="email" name="email" class="input input_footer" placeholder="email">
      <button type="submit" class="button">Cadastre-se</button>
    </form>
  </div>
  <ul class="list_footer">
    <li class="item_list_footer">Sobre nós</li>
    <li class="item_list_footer">Superalimentos</li>
    <li class="item_list_footer">Como funciona</li>
    <li class="item_list_footer">Loja parceiras</li>
    <li class="item_list_footer"><a href="/auth/login" class="text_link">Dashboard</a></li>
  </ul>
  <div class="social_icons">
    <img src="/images/Instagram.png" alt="Instagram logo">
    <img src="/images/Facebook.png" alt="Facebook logo">
  </div>
</footer>
