<section class="section__filo">
  <h1 class="section__title color__brown">FILOSOFIA</h1>  
  <div class="div_filo_total">
    <div class="div_filo_info">
      <img src="/images/CHEF.png" title="" alt="" class="icon_filo">
      <p class="text_filo">PRATOS ELABORADOS POR CHEFES</p>    
    </div>
    <div class="div_filo_info">
      <img src="/images/dish.svg" alt="" class="icon_filo">
      <p class="text_filo">PRODUTOS ORGÂNICOS</p>
    </div>
    <div class="div_filo_info">
      <img src="/images/PEQUENOS_PRODUTORES.png" alt="" class="icon_filo">
      <p class="text_filo">INGREDIENTES DE PEQUENOS PRODUTORES</p>
    </div>
    <div class="div_filo_info">
      <img src="/images/dish.svg" alt="" class="icon_filo">
      <p class="text_filo">EMBALAGEM BPA FREE</p>
    </div>
    <div class="div_filo_info">
      <img src="/images/SEM_PRODUTOS_ARTIFICIAIS.png" alt="" class="icon_filo">
      <p class="text_filo">SEM PRODUTOS ARTIFICIAIS</p>
    </div>
  </div>
</section>

<section>
  <h1 class="section__title color__brown">PRATOS</h1>  
  <div class="swiper-container prices-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div>
        <img src="/images/CHEF.png" alt="" srcset="" class="teste">
        <h4>NOME</h4>
        </div>
      </div>
      <div class="swiper-slide">
        <div>
        <img src="/images/CHEF.png" alt="" srcset="" class="teste">
        <h4>NOME</h4>
        </div>
      </div>
      <div class="swiper-slide">
        <div>
        <img src="/images/CHEF.png" alt="" srcset="" class="teste">
        <h4>NOME</h4>
        </div>
      </div>
      <div class="swiper-slide">
        <div>
        <img src="/images/CHEF.png" alt="" srcset="" class="teste">
        <h4>NOME</h4>
        </div>
      </div>
      <div class="swiper-slide">
        <div>
        <img src="/images/CHEF.png" alt="" srcset="" class="teste">
        <h4>NOME</h4>
        </div>
      </div>
      <div class="swiper-slide">
        <div>
        <img src="/images/CHEF.png" alt="" srcset="" class="teste">
        <h4>NOME</h4>
        </div>
      </div>
      <div class="swiper-slide">
        <div>
        <img src="/images/CHEF.png" alt="" srcset="" class="teste">
        <h4>NOME</h4>
        </div>
      </div>
      <div class="swiper-slide">
        <div>
        <img src="/images/CHEF.png" alt="" srcset="" class="teste">
        <h4>NOME</h4>
        </div>
      </div>
      <div class="swiper-slide">
        <div>
        <img src="/images/CHEF.png" alt="" srcset="" class="teste">
        <h4>NOME</h4>
        </div>
      </div>
      <div class="swiper-slide">
        <div>
        <img src="/images/CHEF.png" alt="" srcset="" class="teste">
        <h4>NOME</h4>
        </div>
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>

  </div>
</section>






<section class="section__partners">
  <h1 class="section__title color__brown">LOJAS PARCEIRAS</h1>
  <div class="div_partners">
    <img src="" alt="Partners" class="img_partners">
    <div class="div_info_partners">
      <p class="text_partners">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, unde</p>
      <button type="submit" class="button">botão</button>
    </div>
  </div>
</section>

<footer class="section__footer">
  <div class="info_footer">
    <h4 class="text_footer">Cadastre-se e ganhe 15% de desconto na primeira compra</h4>
    <form action="/leads" method="post">
      <input type="email" name="email" class="input input_footer" placeholder="email">
      <button type="submit" class="button">Cadastre-se</button>
    </form>
  </div>
  <ul class="list_footer">
    <li class="item_list_footer">Sobre nós</li>
    <li class="item_list_footer">Superalimentos</li>
    <li class="item_list_footer">Como funciona</li>
    <li class="item_list_footer">Loja parceiras</li>
  </ul>
</footer>