<header class="header">
  <div class="header__box">
    <h2 class="header__text--big">MUITOS NUTRIENTES,<br>POUCA CALORIA,<br>ALIMENTOS NATURAIS.</h2>
    <br>
    <p class="header__text">Refeições direto na sua casa<br>Cadastre-se e receba 15% de desconto</p>
    <br>
    <form action="/leads" method="post" class="header__form--center">
      <input class="input header__input--space" name="email"type="text" placeholder="email">
      <button class="button">cadastre-se</button>
    </form>
  </div>
</header>

<section class="section__filo">
  <h1 class="section__title color__brown">FILOSOFIA</h1>  
  <div class="div_filo_total">
    <div class="div_filo_info">
      <img src="/images/CHEF.png" title="" alt="" class="icon_filo">
      <p class="text_filo">PRATOS ELABORADOS POR CHEFES</p>    
    </div>
    <div class="div_filo_info">
      <img src="/images/GOJI.png" alt="" class="icon_filo">
      <p class="text_filo">PRODUTOS ORGÂNICOS</p>
    </div>
    <div class="div_filo_info">
      <img src="/images/PEQUENOS_PRODUTORES.png" alt="" class="icon_filo">
      <p class="text_filo">INGREDIENTES DE PEQUENOS PRODUTORES</p>
    </div>
    <div class="div_filo_info">
      <img src="/images/BPA_FREE.png" alt="" class="icon_filo">
      <p class="text_filo">EMBALAGEM BPA FREE</p>
    </div>
    <div class="div_filo_info">
      <img src="/images/SEM_PRODUTOS_ARTIFICIAIS.png" alt="" class="icon_filo">
      <p class="text_filo">SEM PRODUTOS ARTIFICIAIS</p>
    </div>
</section>

<section class="beneficiosDesktop">
  <h1 class="section__title color__white">BENEFÍCIOS</h1>
  <div class="postit topleft">
    <h4 class="postit__title">Metabolismo</h4>
    <p class="postit__text">Superalimentos possuem função termogênica e desintoxicante.</p>
  </div>
  <div class="postit topright">
    <h4 class="postit__title">Força e Energia</h4>
    <p class="postit__text">Proporciona uma grande quantidade de nutrientes com reduzido teor calórico.</p>
  </div>
  <div class="postit bottomleft">
    <h4 class="postit__title">Sensação de Saciedade</h4>
    <p class="postit__text">São de fácil acréscimo na dieta de qualquer pessoa.<br>Promove uma maior sensação de saciedade.</p>
  </div>
  <div class="postit bottomright">
    <h4 class="postit__title">Prevenção de Doenças</h4>
    <p class="postit__text">Fortalecimento da imunidade.<br>Reduz o risco de doenças cardiovasculares e melhora a circulação sanguínea.</p>
  </div>
</section>

<section class="beneficiosMobile">

</section>

<section>
  <h1 class="section__title color__brown">PRATOS</h1>  
  <div class="swiper-container prices-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div>
        <img src="/images/CHEF.png" alt="" srcset="" class="teste">
        <h4>NOME</h4>
        </div>
      </div>
      <div class="swiper-slide">
        <div>
        <img src="/images/CHEF.png" alt="" srcset="" class="teste">
        <h4>NOME</h4>
        </div>
      </div>
      <div class="swiper-slide">
        <div>
        <img src="/images/CHEF.png" alt="" srcset="" class="teste">
        <h4>NOME</h4>
        </div>
      </div>
      <div class="swiper-slide">
        <div>
        <img src="/images/CHEF.png" alt="" srcset="" class="teste">
        <h4>NOME</h4>
        </div>
      </div>
      <div class="swiper-slide">
        <div>
        <img src="/images/CHEF.png" alt="" srcset="" class="teste">
        <h4>NOME</h4>
        </div>
      </div>
      <div class="swiper-slide">
        <div>
        <img src="/images/CHEF.png" alt="" srcset="" class="teste">
        <h4>NOME</h4>
        </div>
      </div>
      <div class="swiper-slide">
        <div>
        <img src="/images/CHEF.png" alt="" srcset="" class="teste">
        <h4>NOME</h4>
        </div>
      </div>
      <div class="swiper-slide">
        <div>
        <img src="/images/CHEF.png" alt="" srcset="" class="teste">
        <h4>NOME</h4>
        </div>
      </div>
      <div class="swiper-slide">
        <div>
        <img src="/images/CHEF.png" alt="" srcset="" class="teste">
        <h4>NOME</h4>
        </div>
      </div>
      <div class="swiper-slide">
        <div>
        <img src="/images/CHEF.png" alt="" srcset="" class="teste">
        <h4>NOME</h4>
        </div>
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
  </div>
</section>

<section class="section_howWorks_desk">
  <h1 class="section__title color__brown">COMO FUNCIONA</h1>
  <div class="div_howWorks_total">
    <div class="div_howWorks_left">
      <img src="/images/ILUSTRAÇÃO01.jpg" alt="">
      <div>
        <h3>Embalagem especial</h3>
        <p>Nossa embalagem é livre de BPA e podem ir direto ao microondas sem risco de contaminação.</p>
      </div>
      <img src="/images/ILUSTRAÇÃO03.jpg" alt="">
    </div>
    <div class="div_howWorks_right">
      <div>
        <h3>Escolha suas refeições</h3>
        <p>Selecione entre itens individuais, kits e combos. Todas receitas elaboradas por chefes de cozinha.</p>
      </div>
      <img src="/images/ILUSTRAÇÃO02.jpg" alt="">
      <div>
        <h3>Força e Energia</h3>
        <p>Obtenha os nutrientes necessários para melhora do metabolismo e fortalecimento da imunidade</p>
      </div>
    </div>
  </div>
</section>


<section class="fornecedores">
  <div class="fornecedores__box">
    <h2 class="fornecedores__text--big">FORNECEDORES</h2>
    <br>
    <p class="fornecedores__text">Nossos produtos vem de pequenos <br> fornecedores selecionados</p>
    <br>
    <button class="button fornecedores__button">Saiba mais</button>
  </div>
</section>

<section class="section__partners">
  <h1 class="section__title color__brown">LOJAS PARCEIRAS</h1>
  <div class="div_partners">
    <img src="/images/lojas.png" alt="Partners" class="img_partners">
    <div class="div_info_partners">
      <p class="text_partners">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, unde</p>
      <button type="submit" class="button">botão</button>
    </div>
  </div>
</section>

<footer class="section__footer">
  <div class="info_footer">
    <h4 class="text_footer">Cadastre-se e ganhe 15% de desconto na primeira compra</h4>
    <form action="/leads" method="post">
      <input type="email" name="email" class="input input_footer" placeholder="email">
      <button type="submit" class="button">Cadastre-se</button>
    </form>
  </div>
  <ul class="list_footer">
    <li class="item_list_footer">Sobre nós</li>
    <li class="item_list_footer">Superalimentos</li>
    <li class="item_list_footer">Como funciona</li>
    <li class="item_list_footer">Loja parceiras</li>
  </ul>
</footer>
