<header class="hero is-success is-fullheight">
  <div class="hero-body jc-fe pd-head">
    <div class="header-box">
      <h1 class="title is-1">MUITOS NUTRIENTES, <br> POUCA CALORIA, <br> ALIMENTOS NATURAIS.</h1>
      <h3 class="subtitle is-3">Refeições direto na sua casa <br> bla bla blay</h3>
      <form action="/leads" method="post" class="field">
        <input type="email" name="email" class="input">
        <button type="submit" class="button">Cadastre-se</button>
      </form>
    </div>
  </div>
</header>

<section class="section pd-filo">
  <h1 class="title is-1 center-title">FILOSOFIA</h1>  
  <div class="level">
    <div class="level-item has-text-centered">
      <div class="filo-info-width">
        <img src="/images/dish.svg" title="" alt="" class="image .img-info-width">
        <p class="subtitle is-6">PRATOS ELABORADOS POR CHEFES</p>    
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div class="filo-info-width">
        <img src="/images/dish.svg" alt="" class="image .img-info-width">
        <p class="subtitle is-6">PRODUTOS ORGÂNICOS</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div class="filo-info-width">
        <img src="/images/dish.svg" alt="" class="image .img-info-width">
        <p class="subtitle is-6">INGREDIENTES DE PEQUENOS PRODUTORES</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div class="filo-info-width">
        <img src="/images/dish.svg" alt="" class="image .img-info-width">
        <p class="subtitle is-6">EMBALAGEM BPA FREE</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div class="filo-info-width">
        <img src="/images/dish.svg" alt="" class="image .img-info-width">
        <p class="subtitle is-6">SEM PRODUTOS ARTIFICIAIS</p>
      </div>
    </div>
  </div>
</section>

<section class="section pd-bene">
  <h1 class="title is-1 center-title">BENEFÍCIOS</h1>  
  <div class="img-bene">
  </div>
  <div class="columns">
    <div class="column div-teste"></div>
    <div class="column div-teste"></div>
    <div class="column div-teste"></div>
    <div class="column div-teste"></div>
    <div class="column div-teste"></div>
    <div class="column div-teste"></div>
    <div class="column div-teste"></div>
    <div class="column div-teste"></div>
    <div class="column div-teste"></div>
  </div>
  <div class="columns">
    <div class="column div-teste"></div>
    <div class="column div-teste"></div>
  </div>
</section>

<section class="section pd-filo">
  <h1 class="title is-1 center-title">PRATOS</h1>  

</section>

<section class="hero is-success is-fullheight">
  <div class="hero-body jc-fe pd-head">
    <div class="header-box">
      <h1 class="title is-1">FORNECEDORES</h1>
      <h3 class="subtitle is-3">Nossos produtos vem de pequenos<br>fornecedores selecionados e bla bla blay</h3>
      <button type="submit" class="button">Saiba mais</button>
    </div>
  </div>
</section>



<section>
  <h2>Filosofia</h2>
</section>

<section>
  <h2>Pratos</h2>
</section>

<section>

</section>

<section></section>

<section></section>

<section></section>


<footer>

</footer>