<header class="header">
  <div class="header__box">
    <h2 class="header__text--big">MUITOS NUTRIENTES,<br>POUCA CALORIA,<br>ALIMENTOS NATURAIS.</h2>
    <br>
    <p class="header__text">Refeições direto na sua casa<br>Cadastre-se e receba 15% de desconto</p>
    <br>
    <form action="/leads" method="post" class="header__form--center">
      <input class="input header__input--space" name="email"type="text" placeholder="email">
      <button class="button">cadastre-se</button>
    </form>
  </div>
</header>

<section class="section pd-bene">
  <h1 class="title is-1 center-title">BENEFÍCIOS</h1>  
  <div class="img-bene">
  </div>
  <div class="columns">
    <div class="column div-teste"></div>
    <div class="column div-teste"></div>
    <div class="column div-teste"></div>
    <div class="column div-teste"></div>
    <div class="column div-teste"></div>
    <div class="column div-teste"></div>
    <div class="column div-teste"></div>
    <div class="column div-teste"></div>
    <div class="column div-teste"></div>
  </div>
  <div class="columns">
    <div class="column div-teste"></div>
    <div class="column div-teste"></div>
  </div>
</section>

<section class="fornecedores">
  <div class="fornecedores__box">
    <h2 class="fornecedores__text--big">FORNECEDORES</h2>
    <br>
    <p class="fornecedores__text">Nossos produtos vem de pequenos <br> fornecedores selecionados</p>
    <br>
    <button class="button fornecedores__button">Saiba mais</button>
  </div>
</section>