<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  {{{body}}}
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBe3hC5IhhvioTHVJE0TO67haxkmteQkB8'></script>
  <script type="text/javascript" src="/javascript/scripts.js"></script>
</body>
</html>