<div class="container is-fluid is-widescreen is-fullhd abs-center">
    <div class="columns">
        <div class="column is-half is-offset-one-quarter">
            <div class="box">
                <h1 class="has-text-centered has-text-weight-bold">LOGIN</h1>
                <br>
                <form action="/auth/login" method="POST">
                    <div class="field">
                        <label class="label">Username</label>
                        <div class="control has-icons-left has-icons-right">
                            <input name="username" class="input" type="text" placeholder="">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                    </div>
                    <br>
                    <div class="field">
                        <label class="label">Password</label>
                        <div class="control has-icons-left has-icons-right">
                            <input name="password" class="input" type="text" placeholder="">
                            <span class="icon is-small is-left">
                                <i class="fas fa-unlock-alt"></i>
                            </span>
                    </div>
                    <br>
                    <div class="control">
                        <button class="button is-primary" type="submit">Enter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>