<form action="/leads" method="post">
  <label for="email">E-mail:</label>
  <input type="email" name="email">
  <button type="submit">Submit</button>
</form>
<br>
<form action="/adress" method="get">
  <label for="adress">Adress:</label>
  <input type="text" name="adress">
  <button type="submit">Submit</button>
</form>

<div id="map"></div>